.main-page {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 0 auto;
    background-color: #EEEEEE;
}

.page-section {
    display: flex;
    flex-direction: column;
    padding: 3vw;
    gap: 2vw;
}

.tool-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.main-head {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.main-head-info {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.main-skill{
    justify-content: flex-start;
    align-items: flex-start;
}

.main-logo{
    display: flex;
    gap: 2px;
    justify-content: flex-start;
    align-items: flex-start;
    transform: scale(0.75);
}

.tech-logo{
    width: 5vw;
    height: 5vw;
    object-fit: contain;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
}

.main-page h1 {
    font-size: 6vw;
    margin-top :0px;
    margin-bottom: 0px;
    color: black;
    text-align: center;
}

.main-page p {
    font-size: 1.2em;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}